@import 'tailwindcss';

@theme {
  --color-m-50: #eef7ff;
  --color-m-100: #cbe8ff;
  --color-m-200: #a7d9ff;
  --color-m-300: #68bbff;
  --color-m-400: #329cff;
  --color-m-500: #067dfd;
  --color-m-600: #0062e5;

  --text-h1: 32px;
  --text-h2: 28px;
  --text-h3: 24px;
  --text-h4: 20px;

  --text-b1: 18px;
  --text-b2: 16px;

  --text-d1: 14px;
  --text-d2: 12px;
  --text-d3: 10px;

  --radius-20: 20px;
  --radius-12: 12px;

  --spacing-normal: 17px;

  --spacing-large: 1200px;
  --spacing-medium: 744px;

  --container-medium: 960px;
}

@layer base {
  :root {
    --swiper-navigation-size: 18px !important;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
    width: 0;
    height: 0;
  }

  .scrollbar-hide::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .scrollbar-hide::-webkit-scrollbar-track {
    background: transparent;
  }
}

.swiper-container {
  width: 100%;
}

/* .swiper-button-next {
  right: -20px !important;
}

.swiper-button-prev {
  left: -20px !important;
} */

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
  background: #fff !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 4000 !important;
}

@font-face {
  font-family: 'SCDream';
  src: url('/fonts/SCDream1.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SCDream';
  src: url('/fonts/SCDream2.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SCDream';
  src: url('/fonts/SCDream3.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SCDream';
  src: url('/fonts/SCDream4.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SCDream';
  src: url('/fonts/SCDream5.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SCDream';
  src: url('/fonts/SCDream6.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SCDream';
  src: url('/fonts/SCDream7.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SCDream';
  src: url('/fonts/SCDream8.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SCDream';
  src: url('/fonts/SCDream9.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'SCDream';
  font-size: 16px;
}
